@use "reset";
/* *{outline: 2px solid red;} */

//変数
$main_color:#8b9fb8;/* #3376c7 */
$sub_color:#d5e3ed;
$sub2_color:#a9beeb;/* #FDC71C */
$text_color: #333;
$main_text:#5785be;

//ブレイクポイントの設定
$spc:1200px;
$tab:959px;
$lsp:767px;
$ssp:575px;

$font_ja:"M PLUS Rounded 1c", sans-serif;

//mixin
@mixin spc{
  @media (width <= $spc){
  @content;
  }
}
@mixin tab{
  @media (width <= $tab){
  @content;
  }
}
@mixin lsp{
  @media (width <= $lsp){
  @content;
  }
}
@mixin ssp{
  @media (width <= $ssp){
  @content;
  }
}

//rem用の関数
@function rem($px) {
  @return ($px / 16) * 1rem;
}

html{
scroll-behavior: smooth;
font-size: rem(16);
}
body{
color: $text_color;
}

//header部分
header{
width: 100%;
height: 60px;
position: fixed;
top: 0;
left: 0;
z-index: 1000;
display: flex;
justify-content: space-between;
align-items: center;
/* background-color: #ffffff88; */
/* backdrop-filter: blur(10px); */
  h1{
  font-size: rem(28);
  font-family: $font_ja;
  height: 60px;
  line-height: 60px;
  width: fit-content;
  padding: 0 15px;
  backdrop-filter: blur(10px);
    >a{
    color: $text_color;
    display: block;
    background: url(../img/歯科医のアイコン2.svg) no-repeat left 40%/36px;
    padding-left: 36px;
    &:hover{
    color: $main_text;
    }
    }
  }
  @include tab(){
  backdrop-filter: blur(10px);
  }
}

//CTAボタン部分
.top-btn-wrapper{
display: flex;
gap: 0 20px;
margin-right: 50px;
  >a{
  display: block;
  width: 220px;
  height: 60px;
  background-color: $sub2_color;
  border-radius: 0 0 6px 6px;
  padding: 16px 0;
  text-align: center;
  color: $text_color;
  position: relative;
    &::before{
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #e9efcc url(../img/photo.svg) no-repeat center center/26px;
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    }
    &.contact-btn{
    background-color: #d1c29a;
    &::before{
    background: $main_color url(../img/tel.svg) no-repeat center center/26px;
     }
    }
    &:hover{
    background-color: $main_text;
    color: #FFF;
    transition: 0.4s;
    }
  }
  @include tab(){
  display: none;
  }
}

//pc用ナビ
#pc-nav{
width: 90%;
height: 60px;
background-color: #FFF;
border-radius: 8px;
box-shadow: 0 10px 10px #bdbdbd;
position: absolute;
top: 86vh;
left: 0;
right: 0;
margin: auto;
z-index: 100;
padding: 0 10px;
  >ul{
  display: flex;
  height: 60px;
  align-items: center;
    >li{
    width: calc(100% / 6);
    position: relative;
      >a{
      display: block;
      text-align: center;
      color: $text_color;
      padding: 4px 0;
        &:hover{
        text-decoration: underline $main_color 3px;
        text-underline-offset: 4px;
        }
      }
      &:first-of-type{
      border-right: 2px solid $main_color;
      padding-right: 10px;
      }
      &:nth-of-type(n+3)::before{
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      background-color: $main_color;
      border-radius: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      }
    }
  }
  @include tab(){
  display: none;
  }
}

//ハンバーガーボタン
#ham-btn{
display: none;
  @include tab(){
  display: block;
  }
}

//spナビ
#sp-nav{
display: none;
  @include tab(){
  display: block;
  width: 100%;
  height: calc(100vh - 60px);
  position: fixed;
  z-index: 100;
  top: 60px;
  left: 0;
  background-color: #ffffffcc;
  padding: 40px;
  translate: 100% 0;
  transition: 0.3s;
    &.move{
    translate: 0 0;
    }
    >ul{
    padding: 50px;
    }
    li{
    margin-bottom: 40px;
      >a{
      color: $main_text;
      font-weight: 600;
      font-size: rem(20);
      display: block;
      padding: 8px;
      border-left: 10px solid $main_text;
      border-bottom: 2px solid $main_text;
      }
    }
  }
}

//メインビジュアル部分
.main-visual{
width: 100%;
height: 90vh;
position: relative;
  >img{
  object-fit: cover;
  object-position: center 0;
  width: 100%;
  height: 100%;
  }
  @include lsp(){
  height: 70vh;
    >img{
    object-position: 60% center;
    }
  }
}

.main-visual-innner{
position: absolute;
width: 90%;
height: 80%;
border: 3px solid $main_color;
border-radius: 20px;
inset: 0;
top: 20px;
margin: auto;
  @include tab{
  display: none;
  }
}

.vertical{
writing-mode: vertical-rl;
position: absolute;
right: 120px;
top: 120px;
font-size: clamp(1.25rem, 1.125rem + 0.5vw, 1.5rem);
font-family: $font_ja;
  >span{
  display: block;
  background-color: $sub_color;
  padding: 30px 10px;
  margin: 0 20px;
  height: fit-content;
  border-radius: 10px;
  }
  @include lsp(){
  right: 0;
    >span{
    background-color: transparent;
    }
  }
}

//メイン部分
main{
padding: 160px 0 0;
  .main-copy{
  text-align: center;
  font-size: clamp(1.375rem, 1.25rem + 0.5vw, 1.625rem);
  font-family: $font_ja;
  margin-bottom: 40px;
  }
  @include lsp(){
  padding: 50px 0 0;
  }
}

//文章の改行
.sp-on{
display: none;
  @include lsp(){
  display: block;
  }
}

//セクション部分
.page-section{
padding: 100px 0;
  >h2{
  text-align: center;
  font-family: $font_ja;
  font-size: clamp(1.625rem, 1.438rem + 0.75vw, 2rem);
  margin-bottom: 50px;
    >span{
    color: $main_color;
    }
    &::before{
    display: block;
    content: attr(data-en);
    color: $main_color;
    font-size: rem(26);
    margin-bottom: 10px;
    }
  }
  >.read{
  text-align: center;
  font-size: clamp(1rem, 0.875rem + 0.5vw, 1.25rem);
  line-height: 2;
  max-width: 700px;
  margin: 0 auto 80px;
  padding: 0 10px;
  }
}

//ボタンのスタイル
.text-btn{
width: 240px;
display: flex;
justify-content: center;
align-items: center;
background-color: #fff;
border: 1px solid $main_color;
border-radius: 5px;
text-align: center;
padding: 14px 0;
color: $main_color;
font-weight: 600;
  &::after{
  content: "→";
  display: inline-block;
  font-size: rem(18);
  margin-left: 14px;
  font-weight: 400;
  }
  &:hover{
  background-color: $main_color;
  color: #FFF;
  transition: 0.2s;
    &::after{
    translate: 20px 0;
    transition: 0.3s;
    }
  }
}

.btn-wrapper{
display: flex;
justify-content: center;
gap: 0 50px;
  @include lsp(){
  flex-direction: column;
  align-items: center;
  gap: 50px 0;
  }
}

//特徴部分
.feature-wrapper{
width: 90%;
margin: 0 auto 240px;
position: relative;
display: flex;
  >.feature-text{
  width: 55%;
  height: fit-content;
  padding: 40px 160px;
  background-color: $sub_color;
  position: relative;
    >h3{
    color: $main_text;
    font-size: clamp(1.375rem, 1.25rem + 0.5vw, 1.625rem);
    margin-bottom: 30px;
    text-align: center;
    }
    >.feature-lead{
    line-height: 2;
    margin-bottom: 30px;
    font-size: clamp(0.875rem, 0.813rem + 0.25vw, 1rem);
    }
    .text-btn{
    margin-left: auto;
      @include lsp(){
      margin: auto;
      }
    }
  }
  >.feature-img{
  width: 50%;
  height: fit-content;
  aspect-ratio: 4/2.4;
  position: absolute;
  top: 100px;
  right: 0;
    >img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    }
  }
  &:nth-of-type(2){
  flex-direction: row-reverse;
    @include spc(){
    margin-bottom: 300px;
    }
    >.feature-img{
    left: 0;
      @include spc(){
      left: 50px;
      }
      @include lsp(){
      left: 0;
      top: 300px;
      }
    }
  }
//1200px以下
@include spc(){
width: 96%;
  .feature-text{
  padding: 40px 60px;
  }
  .feature-img{
  width: 42%;
  aspect-ratio: 1/1;
  top: 100px;
  right: 50px;
  }
}
//767px以下
@include lsp(){
flex-direction: column;
  .feature-text{
  width: 96%;
  margin: 0 auto;
  padding: 20px 20px 80px;
  }
  .feature-img{
  width: 70%;
  aspect-ratio: 2/1;
  right: 0;
  top: 380px;
  }
}
@include ssp(){
margin: 0 auto 100px;
  .feature-img{
  width: 96%;
  position: relative;
  inset: 0;
  margin: 0 auto;
  }
  &:nth-of-type(2){
  flex-direction: column;
  margin-bottom: 100px;
    >.feature-img{
    inset: 0;
    }
  }
  &:nth-of-type(3){
  margin: 0 auto 20px;
  }
}
}
#feature{
@include ssp(){
padding: 0;
}
}

.number{
font-size: clamp(2.5rem, 1.688rem + 3.25vw, 4.125rem);
color: $main_text;
position: absolute;
top: -45px;
left: 20px;
  &::after{
  content: "";
  display: block;
  width: 240px;
  aspect-ratio: 24/5;
  border-bottom: 2px solid $main_text;
  position: absolute;
  top: 50px;
  left: -50px;
  rotate: -50deg;
    @include spc(){
    display: none;
    }
  }
}

//院長あいさつ部分
#intro{
position: relative;
}
.intro-visual{
width: 100%;
height: 70vh;
  >img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center 10%;
  }
  @include lsp(){
  height: 60vh;
    >img{
    object-position: 20% center;
    }
  }
}
.intro-box{
width: 45%;
padding: 70px;
position: absolute;
bottom: 0;
right: 100px;
background-color: #fff;
box-shadow: 0 0 20px #BBB;
line-height: 2;
font-size: clamp(0.875rem, 0.813rem + 0.25vw, 1rem);
  @include tab(){
  width: 90%;
  right: 0;
  left: 0;
  padding: 20px;
  margin: auto;
  line-height: 1.75;
  }
}

//お知らせ部分
#news{
display: flex;
padding: 80px 10%;
  .news-box{
  width: 35%;
    >h2{
    font-size: rem(28);
    margin-bottom: 60px;
      &::before{
      content: attr(data-en);
      display: block;
      color: $main_color;
      font-size: rem(26);
      margin-bottom: 10px;
      }
    }
  }
  .news-list{
  width: 65%;
    >dt{
    color: $main_color;
    font-size: rem(20);
    font-weight: bold;
    margin-bottom: 10px;
    }
    >dd{
    border-bottom: 1px solid $main_color;
    padding: 0 0 10px 20px;
    margin-bottom: 50px;
      >a{
      color: $text_color;
        &:hover{
        color: $main_text;
        }
      }
    }
  }
  @include tab(){
  padding: 200px 20px 60px;
  gap: 50px 0;
  }
  @include lsp(){
  flex-direction: column;
  gap: 60px 0;
    .news-box{
    width: 100%;
    text-align: center;
      >a{
      margin: 0 auto;
      }
    }
    .news-list{
    width: 100%;
    }
  }
}

//採用情報部分
.recruit-outer{
width: 100%;
height: 70vh;
background: url(../img/recruit.webp) no-repeat center center/cover;
  >.recruit-bg{
  width: 100%;
  height: 100%;
  background: linear-gradient(to right,#6571df5f,#7ed7db83);
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px 0;
  padding: 20px;
    >h2{
    font-family: $font_ja;
    font-size: rem(28);
      &::before{
      content: attr(data-en);
      display: block;
      color: $main_text;
      }
    }
    >p{
    max-width: 660px;
    line-height: 2;
    font-size: clamp(0.875rem, 0.813rem + 0.25vw, 1rem);
    }
  }
}

//アクセス部分
#access{
position: relative;
height: 70vh;
}
.access-wrapper{
width: 80%;
padding: 60px;
display: flex;
position: absolute;
right: 0;
left: 0;
bottom: -100px;
margin: auto;
background-color: #fff;
box-shadow: 0 0 20px #BBB;
border-radius: 10px;
z-index: 10;
  .access-box{
  width: 40%;
    >h2{
    font-family: $font_ja;
    text-align: center;
    font-size: rem(26);
    margin-bottom: 60px;
      &::before{
      content: attr(data-en);
      display: block;
      color: $main_color;
      font-size: rem(26);
      }
    }
    >p{
    margin-bottom: 10px;
      &:last-of-type{
      margin-bottom: 30px;
      }
    }
  }
  .access-img{
  width: 60%;
  aspect-ratio: 4/2.4;
    >img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    }
  }
  @include tab(){
  flex-direction: column;
  gap: 30px 0;
  padding: 20px;
    .access-box{
    width: 100%;
    }
    .access-img{
    aspect-ratio: 2/1;
    width: 100%;
    height: fit-content;
      >img{
      object-position: center 60%;
      }
    }
  }
}

//スケジュール部分
.schedule{
width: 100%;
height: 80vh;
padding-top: 200px;
position: relative;
background: url(../img/access-02.webp) no-repeat center center/cover;
z-index: 1;
color: #FFF;
  &::after{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #5785be89;
  z-index: 2;
  }
  @include lsp(){
  height: auto;
  padding: 200px 0 100px;
  }
}
.schedule-wrapper{
display: flex;
position: relative;
z-index: 3;
  .schedule-text{
  width: 50%;
  }
  .schedule-logo{
  width: 60%;
  margin: 0 auto 30px;
  }
  .tel{
  width: fit-content;
  color: #FFF;
  display: block;
  font-size: rem(24);
  margin: 0 auto 30px;
  background: url(../img/tel.svg) no-repeat left center/30px;
  padding-left: 40px;
  pointer-events: none;
  }
  @include lsp(){
  flex-direction: column;
  gap: 50px 0;
    .schedule-text{
    width: 100%;
    }
    .schedule-table{
    width: 100%;
    padding: 0 10px;
    }
  }
}

//スケジュール部分のボタン
.web-btn2{
  display: block;
  width: 280px;
  /* height: 60px; */
  margin: 0 auto;
  background-color: $sub2_color;
  border-radius:6px;
  padding: 16px 0;
  text-align: center;
  color: $text_color;
  position: relative;
    &::before{
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #e9efcc url(../img/photo.svg) no-repeat center center/26px;
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    }
    &:hover{
    background-color: $main_text;
    color: #FFF;
    transition: 0.5s;
    }
}

//スケジュール表
.schedule-table{
padding-left: 10px;
width: 36%;
  >table{
  width: 100%;
  border-collapse: collapse;
  font-size: rem(20);
  text-align: left;
  margin-bottom: 20px;
    tr:first-of-type{
    border-bottom: 2px solid #FFF;
    >th{
    padding-bottom: 10px;
    }
    }
    th,td{
    padding: 4px;
    }
  }
  @include spc(){
  width: 46%;
  }
}

//footer部分
footer{
padding: 60px 0;
  >p{
  text-align: center;
  }
}
#footer-nav{
width: 90%;
height: 60px;
background-color: #FFF;
margin: 0 auto 30px;
padding: 0 10px;
  >ul{
  display: flex;
  height: 60px;
  align-items: center;
    >li{
    width: calc(100% / 6);
    position: relative;
      >a{
      display: block;
      text-align: center;
      color: $text_color;
      padding: 4px 0;
        &:hover{
        text-decoration: underline $main_color 3px;
        text-underline-offset: 4px;
        }
      }
      &:first-of-type{
      border-right: 2px solid $main_color;
      padding-right: 10px;
      }
      &:nth-of-type(n+3)::before{
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      background-color: $main_color;
      border-radius: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      }
    }
  }
  @include tab(){
  display: none;
  }
}
